.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  align-items: stretch; /* <--- ВАЖНО! Добавили */
  position: absolute;
  top: 125px; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 2;
}

.text-content {
  flex: 1;
padding: 30px;
 padding-top: 50px;

}

.text-content p {
  color: #8e8b8af3;

font-weight:bold;

}


.photo-container {
  position: relative;
  width: 40%;
  height: auto; /* убираем height: 100%, flex сам растянет */
  flex: 0 0 40%; /* гарантируем, что фото занимает 40% ширины и вся высота */
  overflow: hidden;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* чтобы картинка не деформировалась и заполнила контейнер */
}

.photo-button {
  position: absolute;
  top: 50%;
  right: 0; /* прилипает к правому краю */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white; /* фиксируем белый цвет */
  text-decoration: none;
  font-size: 2rem;
  padding: 10px; /* квадратная кнопка */
  border-radius: 0; /* можешь поставить 0 или оставить 3px, как хочешь */
transition: all 0.3s ease;

  width: 30px;
}

.photo-button:hover {

  color: white;
  width: 50px;
}



@media (max-width: 768px) {
  .content-container {
    padding-top: 30px;
    flex-direction: column;
    height: auto;
  }
  
  .photo-container {
    width: 100%;
    height: 100%;
  }
  
  .text-content {
    padding: 30px;
  }
}
