

body {
  margin: 0;
  background: url('public/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

#root {
  min-height: 100vh;
}

